  #orange{
    border-radius: 50%;
    height: 250px;
    background-color: orange; }
    #yellow{
    border-radius: 50%;
    height: 200px;
    background-color: yellow; 
    }
  #indigo{
    border-radius: 50%;
    height: 150px;
    background-color: indigo; 
  }
  #violet{
    border-radius: 50%;
    height: 100px;
    background-color: violet; 
  }
  #green{
    border-radius: 50%;
    height: 50px;
    background-color: green; 
  }